SECRET_KEY=place_your_SECRET_KEY_here
DEBUG=place_True_or_False_here

#Postgresql

NAME=place_your_database_name
USER=place_your_user
PASSWORD=place_your_password
HOST=place_localhost
PORT=place_port


EMAIL_HOST = # Например, 'smtp.mail.ru'
EMAIL_PORT = # Например, 465 если использовать SSL, и 587 для TLS
EMAIL_USE_SSL = # True, если использовать SSL
EMAIL_HOST_USER =  # Ваша почта, например 'your_email@mail.ru'
EMAIL_HOST_PASSWORD = 'app_password'
DEFAULT_FROM_EMAIL = 'your_email@mail.ru'
